### Generated tests

src/test/*/test/compliance/generated/

### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

.eastwood

.clj-kondo/.cache
.clj-kondo/babashka/
.clj-kondo/rewrite-clj/

.cljs_node_repl/

.rebel_readline_history

### Leiningen ###
