### Generated tests

src/test/*/test/compliance/generated/

### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-*
.nrepl-*
.cpcache/

.eastwood

.clj-kondo/.cache
.clj-kondo/babashka/
.clj-kondo/rewrite-clj/

.rebel_readline_history

### ClojureScript ###
node_modules/
public/js

.cljs_node_repl/

/src/gen

*.iml
*.log
.shadow-cljs
.idea

.DS_Store
